<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="true" scanPeriod="30 seconds" >
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>trace_id</includeMdcKeyName>
        </encoder>
    </appender>
    <logger name="it.pagopa.pn" level="DEBUG" />
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>